

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
  text-align: center;
}

p {
  display: block;
  margin-bottom: 5px;
  font-weight: bold ;
}


form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fa06a1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #f6a4d8;
}

.recipe-list {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #767474;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(247, 248, 246, 0.1);
  
}

.recipe-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.recipe-item:last-child {
  border-bottom: none;
}

.recipe-item h3 {
  margin: 0;
  color: #097efa;
}

.recipe-item ul {
  list-style: none;
  padding: 0;
}

.recipe-item ul li {
  margin: 5px 0;
}

.recipe-item p {
  margin: 10px 0 0;
}
